<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Immigrant Run Eateries</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <div class="container">
    <header>
      <h1 class="logo">
        <a href="/">
          <img src="/images/IRE-logo-web.png" width="269" height="159"/>
        </a>
      </h1>
      <h2 class="subheading">
        Supporting our immigrant communty one bite at a time
      </h2>
    </header>
    <div class="content">
      <%= yield  %>
    </div>
  </div>
  <script src="/javascripts/jquery-3.1.1.slim.min.js"></script>
  <script src="/javascripts/tether.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>
